body
{
    color: white;
    font-family: 'Orbitron', sans-serif;
    cursor: url("Assets/cursor.png"),auto;
}

video
{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

h2
{

    text-align: center;
}
.photo
{
    background: linear-gradient(90deg, rgba(249,206,52,1) 0%, rgba(238,42,123,1) 35%, rgba(98,40,215,1) 100%);
    border-radius: 100%;
    transition: .5s;
    margin-right: 20px;
    padding: 0px;
}
.me
{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin: 0px;
    padding: 0;
}
.photo:hover
{
    padding: 5px;
}

#main,#bottom
{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.intro
{
    background-color: rgba(255,255,255,0.1);
    margin-left: auto;
    margin-right: 30px;
    margin-top:20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 20px;
    border-radius: 50px;
    transition: 0.5s;
}
.intro:hover
{
    background-color: rgb(255, 255, 255,0.5);
    color: black;
    border-radius: 100px;
    transform: scale(1.05);
}
.experience:hover
{
    background-color: rgb(255, 255, 255,0.5);
    border-radius: 100px;
    transform: scale(1.05);
}

p
{
    font-size: 20px;
    text-align: left;
}
.logo
{
    margin-top: 10px;
    margin-left: 10px;
    width: 200px;
}
.logo1
{
    width:100px;
    margin-left: 10px;
}
.logo2
{
    width:100px;
    margin-top: 10px;
    margin-left: 10px;
}
.experience
{
    background-color: rgba(255,255,255,0.1);
    border-radius: 50px;
    padding:50px 30px 50px 30px;
    margin-right: auto;
    margin-top:20px;
    transition: .5s;
}
#social
{
    align-items: center;
    background-color: rgba(255,255,255,0.1);
    margin:30px 70px 0 70px;
    padding:30px 30px 50px 30px;
    border-radius: 50px;
    transition: .5s;
}
#social:hover
{
    background-color: rgb(255, 255, 255,0.5);
    color: black;
    border-radius: 100px;
    transform: scale(1.05);
}
#icon
{
    display: flex;
    justify-content: space-around;
}
.icon
{
    width: 50px;
    height: 50px;
    fill: rgb(255, 255, 255);
    transition: 0.5s;
}
.icon:hover
{
    transform: scale(1.2);
    fill: rgb(0, 0, 0);
}
.arrow
{
    fill:white;
    padding-right:10px;
}
#skill
{
    background-color: rgba(255,255,255,0.1);
    margin:0px 20px 0 40px;
    padding:70px 100px 90px 30px;
    border-radius: 50px;
    transition: .5s;
}
h4,.arrow
{
    transition: .5s;
}
h4:hover,.arrow:hover
{
    transform: scale(1.05);
    color: black;
    fill:black;
}
#skill:hover
{
    background-color: rgb(255, 255, 255,0.5);
    border-radius: 120px;
    transform: scale(1.05);
}
#project
{
    background-color: rgba(255,255,255,0.1);
    margin:30px 70px 20px 10px;
    padding:30px 50px 40px 200px;
    border-radius: 50px;
    transition: .5s;
}
#project:hover
{
    background-color: rgb(255, 255, 255,0.5);
    border-radius: 80px;
    transform: scale(1.05);
}
.details
{
    font-size: smaller;
}
.project
{
    text-decoration: none;
    color: white;
    font-weight: 100;
    animation: bulge 1s infinite;
    display:inline-block;
    padding:10px 20px;
    transition: .5s;
}
.project:hover
{
    font-weight:900;
    color: black;
}
@keyframes bulge
{
    0%, 100% 
    {
      transform: scale(1);
    }

    50%
    {
      transform: scale(1.1);
    }
}
